
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    position: relative;
    min-height: 100vh;
}
li{
    list-style:none;
}
ul{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: red;
    padding: 0.4rem;
}

/* *********************** obl ***************** */
header{
    background-image: url("/static/image/photo-1453728013993-6d66e9c9123a.png");
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    color: white;
}

ul{
    background-color: black;
    color: white;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    min-height: 6vh;
}
a:hover{
    background-color:grey;
    color: black;
}
footer{
    position: absolute;
    background-color: #808080;
    bottom: 0;
    width: 100vw;
    text-align: center;
}
section img{
    width: 300px;
    height: 300px;
}
.container{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    
 
}
.chaque{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;

}
span{
    text-align: center;
}
h1{
    color: orange;
    margin-left: 2rem;
}