
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    position: relative;
    min-height: 100vh;
}
li{
    list-style:none;
    display: inline-block;
}
ul{
    text-decoration: none;
    float: right;
}
ul  a{
    text-decoration: none;
    color: white;
    padding: 0.4rem;
    margin: 1rem 2rem;
}

/* *********************** obl ***************** */
header{
    background-color:black;
    min-height: 8vh;
    color: black;
    box-shadow: 0 0 18px #0000;
}

nav a:hover{
    background-color:grey;
    color: black;
}
footer{
    position: absolute;
    background-color: black;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: white;
}
section img{
    width: 300px;
    height: 300px;
}
.containerhome{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
.containercontact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.chaque{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 1px solid black; 
    border-radius: 40px;   

}
span{
    text-align: center;
}
h1{
    color: orange;
    margin-left: 2rem;
}


/* **************contact*********** */

.myform{
border: 1px solid black;
border-radius: 40px;
padding: 2rem;
background-color: grey;
box-shadow: 0 0 18px rgba(0,0,0,0.5);
}
.submit-btn{
    padding: 1.1rem;
    background-color: red;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 30px;
    cursor: pointer;
}



.price_addbtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    min-width: 100%;
}