*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    position: relative;
    min-height: 100vh;
}
li{
    list-style:none;
    display: inline-block;
}
a{
    text-decoration: none;
}
ul{
    text-decoration: none;
    float: right;
    margin-top: 1rem;
}
ul  a{
    text-decoration: none;
    color: black;
    padding: 0.4rem;
    margin: 1rem 2rem;
}
ul a:hover{
   text-decoration: underline;
    color: rgb(228, 218, 218);
}

h6{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1rem;
}
/* **************** default*********** */
header{
    min-height: 8vh;
    width: 100;
    
    /* border: 1px solid black; */
    color: black;
    box-shadow: 0 0  18px rgba(0,0,0,0.5)
}
footer{
    position: absolute;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}
/* ************** center *********** */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100vw;
    flex-direction: column;
}