{%extends "base.html"%}

{% block produit%}
<div class="center">
    <div class="myform" >
        <h1>contact us</h1>
        <form action="/contact" method="post">
            <label for="name"> Name : </label><tr>
            <input type="text" id="name" name="name"><br>
            <label for="email"> Email : </label><tr>
            <input type="email" id="email" name="email"><br>
            <label for="message"> message : </label><br>
            <textarea name="message" id="message" name="message" cols="80" rows="6"></textarea><br>
            <input type="submit" value="send" class="submit-btn">
        </form>
    </div>
</div>
{% endblock produit%}