{%extends "base.html"%}

    {%block produit%}
    <div class="containerhome">
            {%for p in prods%}
            <div class="{{p.titre}} chaque">
                <div>
                    <img src="../static/image/{{p.image}}">
                </div>
                <h6><span>{{p.titre}}</span></h6>
                <div class="price_addbtn">
                    <p class="price-color">{{p.prix}}DH</p>
                    <a href="/add/{{p.id}}"><i class='bx bx-cart-add'></i></a>
                </div>
            </div> 
            {%endfor%}
    </div>    
    {%endblock produit%}
    
