{%extends "base.html"%}

    {%block produit%}
    <div class="containerhome">
            {%for p in prods%}
            <div class="{{p.titre}} chaque">
                <div>
                    <img src="../static/image/{{p.image}}">
                </div>
                <h1><span>{{p.titre}}</span></h1>
                <p>{{p.description}}</p>
                <div class="price_addbtn">
                    <p>{{p.prix}}</p>
                    <a href="#"><i class='bx bx-cart-add'></i></a>
                </div>
                
            </div> 
            {%endfor%}
    </div>
            
    {%endblock produit%}
    
    {% block content%}
       <div>
           home
       </div>
    {% endblock content%}
