{%extends "base.html"%}

{% block produit%}

    <div class="center">

      
      {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {% for category,message in messages %}
                     <div class="{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


      <form action="/login" class="myform" method="post">
        {{ form.hidden_tag() }}
        <img src="../static/image/user.png" alt="">
        {{form.username(id="username",placeholder="USERNAME")}}
        {{form.password(id="password",placeholder="PASSWORD")}}
        <div class="remember-case">
        {{form.remember(class="remember")}} {{form.remember.label}}
        </div>
        {{form.submit(class="submit")}}
      </form>
    </div>

{% endblock produit%}