{%extends "base.html"%}

{% block produit%}

      <form action="/login" class="myform" method="post">
        {{ form.hidden_tag() }}
        <img src="../static/image/user.png" alt="">
        {{form.username(id="username",placeholder="USERNAME")}}
        {{form.password(id="password",placeholder="PASSWORD")}}
        <div class="remember-case">
        {{form.remember(class="remember")}} {{form.remember.label}}
        </div>
        {{form.submit(class="submit")}}
        <small class="link-to-login">
          Need an account ? <a href="{{url_for('register')}}">Sign Up now</a>
        </small>
      </form>

{% endblock produit%}