{% extends 'base.html'%}

{% block produit%}
<div class="center">
    <div class="def">
        <p>Product</p>
    </div>
    <div class="box-panier">
        {%for j in datarow%}
        <div class="prd_added">
            <div class="item" >
                <img src="../static/image/{{j.image}}" >
            </div>
            <p class="item">{{j.titre}}</p>
            <p class="item">{{j.prix}}</p>
            <p class="item">{{carte[j.id]}}</p>
            <a href="/remove/{{datarow.index(j)}}" class="item"><i class='bx bxs-trash-alt bx-flashing' style='color:#ff0000'  ></i></i></a>
        </div>
        {%endfor%}  
    </div>
</div>
{% endblock produit%}
