{%extends "base.html"%}

{% block produit%}

<div class="center">
  <form action="" class="myform" method="post">
    {{form.hidden_tag()}}
      <img class="regi-img"src="../static/image/register.png" alt="">
      {{form.username(class="username",placeholder="USERNAME")}}
      {{form.password(class="password",placeholder="PASSWORD")}}
      {{form.confirm_passowrd(id="cpassword",placeholder="CONFIRME PASSWORD")}}
      {{form.submit(class="submit")}}
  </form> 
  <small class="link-to-login">
    Alreaedy have an account ? <a href="{{url_for('login')}}">Sing In</a>
  </small>
</div>
{% endblock produit%}