{%extends "base.html"%}

{% block produit%}
    <div class="center">

      <form  class="myform" method="post">
          <img class="regi-img"src="../static/image/register.png" alt="">
          <input type="text" name="username" id="username" placeholder="USERNAME" >
          <input type="email" name="email" id="username" placeholder="EMAIL" >
          <input type="password" name="password" id="password" placeholder="PASSWORD">
          <input type="password" name="cpassword" id="cpassword" placeholder="COMFIRM PASSWORD">
          <input type="submit" name="submit" class="submit">
      </form> 
    </div>
{% endblock produit%}